.notfound {
  display: flex;
  flex-direction: column;
  align-items: center; 
  min-height: 634px;
}

.notfound__title {
  margin-bottom: 5px;
  text-align: center;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: 169px;
  letter-spacing: 0em;
  text-align: center;
}

.notfound__description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.notfound__button {
  margin-top: 184px;
  margin-bottom: 60px;
  color: #3456f3;
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}
