.card {
  color: white;
  background-color: #222222;
  display: flex;
  margin: 0;
  padding: 0;
  width: 360px;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}

.card__title {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-left: 18px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 240px;
  min-height: 36px;
}

.card__duration {
  width: 80px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
  text-align: center;
  color: #a0a0a0;
  margin-right: 14px;
}

.card__info {
  margin-top: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  width: 100%;
  flex-direction: row;
}

.card__image {
  height: 190px;
  width: 100%;
  margin: 0;
  cursor: pointer;
  margin-top: 6px;
}

.card__button {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0px;
  text-align: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 29px;
  content: "Сохранить";
  color: white;
  background-color: #313131;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.card__button_is-active {
  background-color: #ee3465;
  background-image: url("../../images/like.svg");
}

.card__button_delete {
  background-color: #313131;
  background-image: url("../../images/cross.png");
}


@media (max-width: 690px) {
  .card {
    width: 100%;
  }

  .card__title {
    margin-right: 14px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
  }

  .card__duration {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: right;
  }
}
